**/bin/
**/obj/
**/out/
**/publish/
**/.vs/
**/.vscode/
**/.idea/
**/*.user
**/*.suo
.git/
.gitattributes
.github/
docker/
**/*.md
**/Dockerfile*
**/.dockerignore
**/TestResults/
**/*.trx
**/*.coverage
**/node_modules/
